h2
	span.glyphicon.glyphicon-tags
	| Tags
div.searchForm
	input.form-control(type="text" class="text" name="search" id="search" placeholder="Search")
	div(id="searchList" class="searchList" style="display: none;")