extend ../templates/admin

append form
	h2 
		span.icon.glyphicon.glyphicon-folder-open
		| Categories
	.panel.panel-default
		.panel-heading
			h3.panel-title Add Category
		.panel-body
			form.form-horizontal(method="post" action="/admin/categories")
				include ../partials/feedback
				.form-group
					label.control-label.col-sm-3(for="name", value=category.name, required) Name
					.col-sm-9
						input.form-control(type="text" name="name" id="name" data-uri="#uri")
				.form-group
					label.control-label.col-sm-3(for="uri", value=category.uri, required) URI
					.col-sm-9
						input.form-control(type="text" name="uri" id="uri")
				.form-group.form-actions.text-center
					.col-sm-9.col-sm-offset-3
						button.btn.btn-lg.btn-primary(type="submit") 
							span.icon.glyphicon.glyphicon-plus
							| Add
	form.panel.panel-default(method="post" action="/admin/categories/edit")
		.panel-heading
			h3.panel-title Edit Category
		.panel-body
			.form-group.form-actions
				select.content-select.form-control(name="category")
					option Select...
					for cat in categories
						option(value=cat._id)=cat.name