extend ../templates/admin

append form
	h2 
		span.icon.glyphicon.glyphicon-tags
		| Tags
	if (tag)
		form.form-horizontal(method="post" action="/admin/tags")
			include ../partials/feedback
			.form-group
				label.control-label.col-sm-3(for="name", required) Name
				.col-sm-9
					input.form-control(type="text" name="name" id="name" data-uri="#uri" value=tag.name)
			.form-group
				label.control-label.col-sm-3(for="uri", required) URI
				.col-sm-9
					input.form-control(type="text" name="uri" id="uri" value=tag.uri)
			.form-group.text-center
				.col-sm-9.col-sm-offset-3
					input(type="hidden" name="id" value=tag._id)
					button.btn.btn-block.btn-primary(type="submit") 
						span.icon.glyphicon.glyphicon-plus
						| Add