extend ../templates/admin

append title
	| Users - Admin - 

append form
	h2 
		span.icon.glyphicon.glyphicon-th-list
		| Users
	if (users.length)
		form.panel.panel-default(method="post" action="/admin/users/edit")
			.panel-heading
				h3.panel-title Edit User
			.panel-body
				.form-group.form-actions
					select.content-select.form-control(name="user")
						option Select...
						for u in users
							option(value=u._id)=u.name
	else
		.alert.alert-warning No other users to edit.