if (user)
	button.btn.btn-default.toggle.favorite(data-id="#{sound._id}", class=(user.favorites.indexOf(sound._id) > -1 ? 'active' : ''), title="Favorite" data-toggle="tooltip")
		span.off.glyphicon.glyphicon-heart-empty
		span.on.glyphicon.glyphicon-heart
else
	button.btn.btn-default.toggle.disabled
		span.off.glyphicon.glyphicon-heart-empty
		span.on.glyphicon.glyphicon-heart