doctype html
html
	head
		title Thunder
		
		meta(name="author" content="CloudKid")
		meta(name="description" content="{{description}}")
		meta(name="keywords" content="{{keywords}}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		link(href="/css/libraries.css", rel="stylesheet")
		link(href="/css/main.css", rel="stylesheet")

		link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400")
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand
						if (user)
							a(href="/admin")= user.name
							|  is bringing the 
							a(href='/') Thunder
						else
							a(href='/') Thunder
				div.collapse.navbar-collapse
					ul(class="nav navbar-nav navbar-right")
						if (user)
							li
								a(href="/favorites")
									span.glyphicon.glyphicon-heart
									span.hidden-lg.hidden-md.hidden-sm.visible-inline-xs Favorites
							li
								a(href="/admin")
									span.glyphicon.glyphicon-user
									span.hidden-lg.hidden-md.hidden-sm.visible-inline-xs Settings
							li
								a(href="/logout")
									span.glyphicon.glyphicon-log-out
									span.hidden-lg.hidden-md.hidden-sm.visible-inline-xs Logout
						else 
							li
								a(href="/login")
									span.glyphicon.glyphicon-user
									span.hidden-lg.hidden-md.hidden-sm.visible-inline-xs Login
		main.container
			.col-sm-9
				block content
			nav.col-sm-3
				include ../includes/search
				if categories
					include ../includes/categories
		.container.text-center
			footer &copy; #{fullYear}

		script(src="/js/libraries.js")
		script(src="/js/main.js")