body {
  font-family: 'Open Sans', sans;
  font-weight: 300;
  background: #FAFAFA;
}
body.has-nav {
  padding-top: 70px;
}
body.install {
  padding-top: 20px;
}
h2 {
  font-size: 180%;
  margin: 0 0 0.5em;
}
h2 .icon {
  font-size: 70%;
}
.no-padding {
  padding: 0 !important;
}
.sm-padding {
  padding: 0 5px;
}
.modal-header h4 {
  margin: 0;
}
h3 .icon,
h2 .icon,
.btn .icon,
.list-group-item .icon,
.nav a .icon {
  margin-right: 0.5em;
}
.navbar-form input {
  background: #333;
  border-color: #666;
  color: #ffffff;
}
.list-group-item .icon,
.btn .icon {
  font-size: 80%;
}
#search-list ul {
  width: 100%;
  overflow: hidden;
}
#search-list ul .empty {
  text-align: center;
  padding: 5px 0;
}
#search-list ul .search-item {
  outline: none;
  width: 100%;
  text-align: left;
}
#search-list ul .search-item strong {
  background: #ffc;
  font-weight: normal;
}
#search-list ul .active .search-item {
  background: #337ab7;
  color: #fff;
}
#search-list ul .active .search-item strong {
  background: transparent;
}
.panel-controls {
  position: absolute;
  top: 4px;
  right: 4px;
}
.panel-controls form {
  display: inline-block;
}
.panel-controls .btn {
  margin-left: 4px;
}
.downloads {
  width: 33.33333333%;
}
.downloads .btn {
  width: 100% !important;
}
#tags {
  padding: 4px 0 0;
}
#tags .tag {
  display: inline-block;
  margin: 0 4px 4px 0;
}
.form-actions {
  margin-bottom: 0;
}
.form-actions .btn {
  margin: 0 2px;
}
.navbar-brand .details {
  color: #999 !important;
  margin-left: 0.3em;
}
.navbar-brand a {
  color: #ccc;
  text-decoration: none;
}
.navbar-brand a:hover {
  color: #ffffff;
}
.sound {
  min-height: 140px;
  position: relative;
}
.sound .panel-body {
  padding: 10px;
}
.sound .timeline {
  background: #ddd;
  display: block;
  height: 2px;
  position: absolute;
  bottom: 50px;
  left: 12px;
  right: 12px;
  visibility: hidden;
}
.sound .timeline.on {
  visibility: visible;
}
.sound .timeline .timeline-bar {
  background: #337ab7;
  height: 2px;
}
.sound .tags {
  padding: 0;
  font-size: 80%;
  height: 3em;
  overflow: hidden;
}
.sound .tags li {
  display: inline;
  padding: 0 2px;
}
.sound .tags li a {
  color: #999;
}
.sound .controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.sound .controls .btn {
  outline: none;
  width: 33.33333333%;
}
.sound.large {
  min-height: inherit;
}
.sound.large .controls {
  position: static;
  width: 18em;
  margin-bottom: 1em;
}
.sound.large .controls .btn {
  width: 6em;
}
.sound.large .timeline {
  position: static;
  width: 18em;
  margin: 0 auto 5px;
}
.sound.large .tags {
  height: auto;
  font-size: 100%;
}
.toggle .on {
  display: none;
}
.toggle .off {
  display: inline-block;
}
.toggle.active .on {
  display: inline-block;
}
.toggle.active .off {
  display: none;
}
.searchForm {
  margin-bottom: 2em;
}
.categories {
  padding: 0 0 0 20px;
}
.categories .total {
  margin-left: 0.5em;
  color: #999;
}
.full-width {
  width: 100%;
}
.form-group.optional .control-label {
  color: #999;
}
footer {
  margin: 1em 0;
  color: #999;
}
/*# sourceMappingURL=main.css.map */