extend partials/header

append content
	div.sideBar 
		include includes/search
		if categoryFindResults
			include includes/categories
	if soundFindResults
		for sound in soundFindResults 
			include includes/sound