extend templates/base

append title
	| Install - 

block body
	body.install
		.container
			.row
				.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
					.panel.panel-default
						.panel-heading
							h1.panel-title Install Thunder
							form.panel-body.form-horizontal(method="post" action="/")
								include partials/feedback
								.form-group
									label.control-label.col-sm-3(for="port") Port
									.col-sm-9
										input.form-control(type="number" id="port" value=port name="port")
										p.help-block The port at the site should run on. Changing the port above requires manually restarting the server.
								.form-group
									label.control-label.col-sm-3(for="mongoDatabase") Database
									.col-sm-9
										input.form-control(type="text" id="mongoDatabase" name="mongoDatabase" placeholder="mongodb://localhost/thunder")
										p.help-block The MongoDB connection, 
											a(href="http://docs.mongodb.org/manual/reference/connection-string/") see docs 
											| for more info.
								.form-group
									label.control-label.col-sm-3(for="secretKey") Session Secret
									.col-sm-9
										input.form-control(type="text" id="secretKey" name="secretKey")
										p.help-block Session cookie is signed with this secret to prevent tampering.
								.form-group
									label.control-label.col-sm-3(for="gmailUser") Gmail User
									.col-sm-9
										input.form-control(type="text" id="gmailUser" name="gmailUser" placeholder="user@gmail.com")
										p.help-block Gmail account for sending site emails.
								.form-group
									label.control-label.col-sm-3(for="gmailPassword") Gmail Password
									.col-sm-9
										input.form-control(type="password" id="gmailPassword" name="gmailPassword")
										p.help-block Gmail account password for sending emails.
								.form-group.form-actions.text-center
									.col-sm-9.col-sm-offset-3
										button.btn.btn-lg.btn-primary(type='submit') Install