extend templates/base

append content
	div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
		h2.text-center
			span.icon.glyphicon.glyphicon-user
			| Login
		#message
		if message.length
			.alert.alert-danger #{message}
		form.form-login(action='/login', method='post')
			.form-group
				input.form-control(type='text', name='username',  placeholder='Username',required, autofocus)
			.form-group
				input.form-control(type='password', name='password', placeholder='Password', required)
			.btn-group-vertical.full-width
				button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign In
				a.btn.btn-default.btn-block(href='/register') Create an account