extend templates/sounds

append title
	| ##{tag.name} - Tag - 

append soundsTitle 
	form(action="/admin/tags/edit" method="post")
		h2 
			a(href='/') Sounds
			|  &raquo; ##{tag.name} 
			if (user && user.privilege == privilege.admin)
				input(type="hidden" name="tag" value=tag._id)
				button.edit.btn.btn-default.btn-sm(type="submit") 
					span.glyphicon.glyphicon-pencil